.dice {
  width: 50px;
  text-align: center;
  background-color: rgba(0, 0, 1, 0) rgb(0, 0, 1);
  border: #999 1px solid;
  padding: 10px;
  margin: 5px;
  font-size: 24px;
}
body {
  background-image: url(../images/cyber-neon-dices-zebra\ \(2\).jpg);
}